#back-button {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
}

.has-dark-background > #back-button {
    color: white;
}

*:not(.has-dark-background) > #back-button {
    color: red;
}

#licence-cc {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 20;
}

#licence-cc,
#licence-cc * {
    font-family: sans-serif;
    font-size: 1vh;
    color: gray;
    vertical-align: middle;
}