.social-media-list {
  display: table;
  margin: 0 auto;
  li {
    //float: left;
    display: inline-block;
    margin: 0 5px;
    &:first-of-type { margin-left: 0 }
    &:last-of-type { margin-right: 0 }
    a {
      //display: block;
      padding: $spacing-unit / 4;
      //border: 1px solid $grey-color-light
    }
    &:hover .svg-icon { fill: currentColor; }
  }
}