.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.863770;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.002930;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.871094;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.873535;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.741211;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.795410;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.741211;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.785156;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._9{margin-left:-7.758382px;}
._a{margin-left:-5.180359px;}
._b{margin-left:-3.598875px;}
._c{margin-left:-2.555543px;}
._0{margin-left:-1.538537px;}
._3{width:1.060000px;}
._10{width:2.555297px;}
._f{width:3.575266px;}
._7{width:14.300000px;}
._13{width:18.020949px;}
._12{width:19.040980px;}
._e{width:20.652000px;}
._2{width:41.148000px;}
._15{width:165.497462px;}
._8{width:175.160000px;}
._1{width:194.000000px;}
._11{width:248.520000px;}
._5{width:265.480000px;}
._4{width:322.660000px;}
._6{width:417.000000px;}
._16{width:570.658537px;}
._d{width:686.280000px;}
._14{width:995.400000px;}
.fc4{color:rgb(31,73,125);}
.fc0{color:rgb(0,0,0);}
.fc1{color:rgb(128,128,128);}
.fc2{color:rgb(55,96,146);}
.fc3{color:rgb(127,127,127);}
.fs6{font-size:32.465689px;}
.fs3{font-size:38.804329px;}
.fs0{font-size:40.000000px;}
.fs4{font-size:42.000000px;}
.fs2{font-size:48.000000px;}
.fs5{font-size:50.000000px;}
.fs1{font-size:72.000000px;}
.y0{bottom:0.000000px;}
.y39{bottom:7.010040px;}
.y38{bottom:19.538040px;}
.y37{bottom:33.902601px;}
.y36{bottom:45.938044px;}
.y3b{bottom:68.347632px;}
.y3d{bottom:121.422743px;}
.y69{bottom:121.868439px;}
.y3c{bottom:133.458185px;}
.y68{bottom:143.468475px;}
.y3a{bottom:155.163611px;}
.y67{bottom:165.068512px;}
.y1f{bottom:179.887253px;}
.y66{bottom:186.668518px;}
.y1e{bottom:191.887254px;}
.y65{bottom:208.268524px;}
.y1b{bottom:210.020493px;}
.y50{bottom:221.337830px;}
.y1a{bottom:222.020493px;}
.y64{bottom:229.868530px;}
.y19{bottom:234.020493px;}
.y4f{bottom:242.937836px;}
.y18{bottom:246.020493px;}
.y63{bottom:251.468536px;}
.y17{bottom:258.020493px;}
.y4e{bottom:264.537842px;}
.y16{bottom:270.020493px;}
.y62{bottom:273.068542px;}
.y15{bottom:282.020493px;}
.y4d{bottom:286.137848px;}
.y14{bottom:294.020493px;}
.y61{bottom:294.668549px;}
.y13{bottom:306.020493px;}
.y4c{bottom:307.737854px;}
.y60{bottom:316.268555px;}
.y12{bottom:318.020493px;}
.y4b{bottom:329.337860px;}
.y11{bottom:330.020493px;}
.y5f{bottom:337.868561px;}
.y10{bottom:342.020493px;}
.y4a{bottom:350.937866px;}
.yf{bottom:354.020493px;}
.y5e{bottom:359.468567px;}
.ye{bottom:366.513051px;}
.y49{bottom:372.537872px;}
.y5d{bottom:381.068573px;}
.y1d{bottom:381.874678px;}
.y48{bottom:394.137878px;}
.y1c{bottom:394.501190px;}
.y5c{bottom:402.668579px;}
.y47{bottom:415.737885px;}
.y35{bottom:415.893387px;}
.y5b{bottom:424.268585px;}
.y34{bottom:427.893388px;}
.y46{bottom:437.337891px;}
.y5a{bottom:445.868591px;}
.y2d{bottom:446.458023px;}
.y2c{bottom:458.458023px;}
.y45{bottom:458.937897px;}
.y59{bottom:467.468597px;}
.y2b{bottom:470.458023px;}
.y44{bottom:480.537903px;}
.y2a{bottom:482.458023px;}
.y58{bottom:489.068604px;}
.y29{bottom:494.458023px;}
.y43{bottom:502.137909px;}
.y28{bottom:506.458024px;}
.y57{bottom:510.668610px;}
.y27{bottom:521.913467px;}
.y42{bottom:523.737907px;}
.y56{bottom:532.268616px;}
.y26{bottom:533.913467px;}
.y41{bottom:545.337906px;}
.y25{bottom:546.406026px;}
.y55{bottom:553.868614px;}
.y33{bottom:563.703247px;}
.y40{bottom:566.937904px;}
.y54{bottom:575.468613px;}
.y32{bottom:575.703248px;}
.y3f{bottom:588.537903px;}
.y31{bottom:591.970245px;}
.y53{bottom:597.068611px;}
.y30{bottom:603.970245px;}
.y3e{bottom:610.137901px;}
.y2f{bottom:615.970245px;}
.y3{bottom:615.972977px;}
.y52{bottom:618.668610px;}
.y2e{bottom:627.970246px;}
.y2{bottom:627.972977px;}
.y1{bottom:639.972978px;}
.y51{bottom:640.268608px;}
.y24{bottom:643.425598px;}
.y23{bottom:655.425598px;}
.ya{bottom:658.890160px;}
.y22{bottom:667.425599px;}
.y9{bottom:670.890160px;}
.y8{bottom:682.890161px;}
.y21{bottom:686.947134px;}
.y20{bottom:698.982576px;}
.yd{bottom:721.653001px;}
.y7{bottom:722.217911px;}
.y6{bottom:734.217911px;}
.yc{bottom:744.170158px;}
.y5{bottom:746.217911px;}
.y4{bottom:758.217911px;}
.yb{bottom:758.282158px;}
.h1{height:27.421875px;}
.h4{height:27.714844px;}
.h8{height:27.812500px;}
.h6{height:29.648438px;}
.h2{height:32.988281px;}
.h7{height:34.637695px;}
.h9{height:39.160156px;}
.h5{height:39.585938px;}
.h3{height:59.378906px;}
.h0{height:780.000000px;}
.w0{width:540.000000px;}
.x0{left:0.000000px;}
.x1{left:7.200001px;}
.x2{left:148.167786px;}
.x3{left:162.656219px;}
.x4{left:291.500793px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._9{margin-left:-10.344510pt;}
._a{margin-left:-6.907145pt;}
._b{margin-left:-4.798500pt;}
._c{margin-left:-3.407390pt;}
._0{margin-left:-2.051383pt;}
._3{width:1.413333pt;}
._10{width:3.407062pt;}
._f{width:4.767021pt;}
._7{width:19.066667pt;}
._13{width:24.027932pt;}
._12{width:25.387973pt;}
._e{width:27.536000pt;}
._2{width:54.864000pt;}
._15{width:220.663283pt;}
._8{width:233.546667pt;}
._1{width:258.666667pt;}
._11{width:331.360000pt;}
._5{width:353.973333pt;}
._4{width:430.213333pt;}
._6{width:556.000000pt;}
._16{width:760.878050pt;}
._d{width:915.040000pt;}
._14{width:1327.200000pt;}
.fs6{font-size:43.287586pt;}
.fs3{font-size:51.739105pt;}
.fs0{font-size:53.333333pt;}
.fs4{font-size:56.000000pt;}
.fs2{font-size:64.000000pt;}
.fs5{font-size:66.666667pt;}
.fs1{font-size:96.000000pt;}
.y0{bottom:0.000000pt;}
.y39{bottom:9.346720pt;}
.y38{bottom:26.050720pt;}
.y37{bottom:45.203468pt;}
.y36{bottom:61.250725pt;}
.y3b{bottom:91.130177pt;}
.y3d{bottom:161.896990pt;}
.y69{bottom:162.491252pt;}
.y3c{bottom:177.944247pt;}
.y68{bottom:191.291300pt;}
.y3a{bottom:206.884815pt;}
.y67{bottom:220.091349pt;}
.y1f{bottom:239.849670pt;}
.y66{bottom:248.891357pt;}
.y1e{bottom:255.849672pt;}
.y65{bottom:277.691366pt;}
.y1b{bottom:280.027323pt;}
.y50{bottom:295.117106pt;}
.y1a{bottom:296.027323pt;}
.y64{bottom:306.491374pt;}
.y19{bottom:312.027323pt;}
.y4f{bottom:323.917114pt;}
.y18{bottom:328.027323pt;}
.y63{bottom:335.291382pt;}
.y17{bottom:344.027323pt;}
.y4e{bottom:352.717122pt;}
.y16{bottom:360.027323pt;}
.y62{bottom:364.091390pt;}
.y15{bottom:376.027323pt;}
.y4d{bottom:381.517131pt;}
.y14{bottom:392.027323pt;}
.y61{bottom:392.891398pt;}
.y13{bottom:408.027323pt;}
.y4c{bottom:410.317139pt;}
.y60{bottom:421.691406pt;}
.y12{bottom:424.027323pt;}
.y4b{bottom:439.117147pt;}
.y11{bottom:440.027323pt;}
.y5f{bottom:450.491414pt;}
.y10{bottom:456.027323pt;}
.y4a{bottom:467.917155pt;}
.yf{bottom:472.027323pt;}
.y5e{bottom:479.291423pt;}
.ye{bottom:488.684068pt;}
.y49{bottom:496.717163pt;}
.y5d{bottom:508.091431pt;}
.y1d{bottom:509.166237pt;}
.y48{bottom:525.517171pt;}
.y1c{bottom:526.001587pt;}
.y5c{bottom:536.891439pt;}
.y47{bottom:554.317179pt;}
.y35{bottom:554.524516pt;}
.y5b{bottom:565.691447pt;}
.y34{bottom:570.524517pt;}
.y46{bottom:583.117188pt;}
.y5a{bottom:594.491455pt;}
.y2d{bottom:595.277364pt;}
.y2c{bottom:611.277364pt;}
.y45{bottom:611.917196pt;}
.y59{bottom:623.291463pt;}
.y2b{bottom:627.277364pt;}
.y44{bottom:640.717204pt;}
.y2a{bottom:643.277364pt;}
.y58{bottom:652.091471pt;}
.y29{bottom:659.277364pt;}
.y43{bottom:669.517212pt;}
.y28{bottom:675.277365pt;}
.y57{bottom:680.891479pt;}
.y27{bottom:695.884623pt;}
.y42{bottom:698.317210pt;}
.y56{bottom:709.691488pt;}
.y26{bottom:711.884623pt;}
.y41{bottom:727.117208pt;}
.y25{bottom:728.541368pt;}
.y55{bottom:738.491486pt;}
.y33{bottom:751.604329pt;}
.y40{bottom:755.917206pt;}
.y54{bottom:767.291484pt;}
.y32{bottom:767.604331pt;}
.y3f{bottom:784.717204pt;}
.y31{bottom:789.293660pt;}
.y53{bottom:796.091482pt;}
.y30{bottom:805.293660pt;}
.y3e{bottom:813.517202pt;}
.y2f{bottom:821.293660pt;}
.y3{bottom:821.297302pt;}
.y52{bottom:824.891479pt;}
.y2e{bottom:837.293662pt;}
.y2{bottom:837.297302pt;}
.y1{bottom:853.297304pt;}
.y51{bottom:853.691477pt;}
.y24{bottom:857.900798pt;}
.y23{bottom:873.900798pt;}
.ya{bottom:878.520213pt;}
.y22{bottom:889.900799pt;}
.y9{bottom:894.520213pt;}
.y8{bottom:910.520214pt;}
.y21{bottom:915.929512pt;}
.y20{bottom:931.976768pt;}
.yd{bottom:962.204001pt;}
.y7{bottom:962.957214pt;}
.y6{bottom:978.957214pt;}
.yc{bottom:992.226878pt;}
.y5{bottom:994.957214pt;}
.y4{bottom:1010.957214pt;}
.yb{bottom:1011.042877pt;}
.h1{height:36.562500pt;}
.h4{height:36.953125pt;}
.h8{height:37.083333pt;}
.h6{height:39.531250pt;}
.h2{height:43.984375pt;}
.h7{height:46.183594pt;}
.h9{height:52.213542pt;}
.h5{height:52.781250pt;}
.h3{height:79.171875pt;}
.h0{height:1040.000000pt;}
.w0{width:720.000000pt;}
.x0{left:0.000000pt;}
.x1{left:9.600001pt;}
.x2{left:197.557048pt;}
.x3{left:216.874959pt;}
.x4{left:388.667725pt;}
}
