.icon-accent {
    color: var(--md-accent-fg-color);
    opacity: 0.5;
}

/**
* BLOG HOME
*/

.blog__item-teaser {
}

.blog__item-teaser:not(:first-child) {
    border-top: 0.05rem solid var(--md-default-fg-color--lightest);
    display: flow-root;
    margin: 1.5em 0;
}

h2.blog__item-title {
    margin: 1em 0 0;
}

.blog__item-info {
    display: flex;
    font-size: .7em
}

.blog__item-info :not(:first-child)::before {
    content: "\00a0|";
}

.blog__item-excerpt {
    margin: 1.6em 0 0;
}

.blog__item-continue-reading{
    font-weight: bold;
}

/**
* POST
*/

.post--header h1 {
    margin: 0;
}

.post--header {
    margin: 0 0 1.25em;
}

.post--info {
    display: flex;
    font-size: .8em;
}

.post--info :not(:first-child)::before {
    content: "\00a0|\00a0";
}

/**
* Decorated blockquote
*/

blockquote .decorated {
    padding-left: 1.3rem;
    position:relative;
}

blockquote .decorated:before {
    content: "";
    position:absolute;
    height: 1rem;
    width: 1rem;
    left: 0;
    background-color: #9e9e9e;
    -webkit-mask-image: var(--md-admonition-icon--quote);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-image: var(--md-admonition-icon--quote);
    mask-repeat: no-repeat;
    mask-size: contain;
}