<p>/!\ Draft blog-like, in progress </p>

{% set articles = [] %}
{% for item in pages %}
{% if item.page.meta.template == 'blog/post.html' and not item.page == page and not item.page.meta.draft %}
{% set articles = articles.append( item ) %}
{% endif %}
{% endfor %}

{% for item in articles|sort(attribute='page.meta.date', reverse=True) %}
<div class="article__item-teaser">
  <h3 class="article__item-title">
    <a href="{{ item.page.url | url}}"
       class=""
    > {{ item.page.title }} </a>
  </h3>
  {# {% set words_per_minute = item.page.words_per_minute | default(200) %}
  {% set words = item.page.content | list | length %} #}
  <div class="article__item-excerpt">
    {#
    <div class="article__item-read-time">
      🕓 {{ words // words_per_minute }} minutes de lecture ({{ words }} mots)
    </div>
    #}
    {{ item.page.meta.description }}
  </div>
</div>
{% endfor %}