{% extends "base.html" %}

{% block content %}
    {#
        Liste des articles
    #}
    {% set articles = [] %}

    {% for item in pages %}
    {% if item.src_path.startswith('blog')
            and not item.page == page
            and item.page.meta
            and item.page.meta.date
            and not item.page.meta.draft %}
    {% set articles = articles.append( item ) %}
    {% endif %}
    {% endfor %}

    {% for item in articles|sort(attribute='page.meta.date', reverse=True) %}
    <div class="blog__item-teaser">
        <h2 class="blog__item-title">
            <a href="{{ item.page.url | url}}" class=""> {{ item.page.title }} </a>
        </h2>
        {%- set average_char_per_word = 6 -%}
        {%- set words_per_minute = item.page.words_per_minute | default(200) -%}
        {%- if item.page.meta.characters -%}
        {%- set characters = item.page.meta.characters -%}
        {%- else -%}
        {%- set characters = item.page.content | list | length -%}
        {%- endif -%}
        {%- if item.page.meta.words -%}
        {%- set words = item.page.meta.words -%}
        {%- else -%}
        {%- set words = characters // average_char_per_word -%}
        {%- endif %}
        <div class="blog__item-info">
            <span>
                <span class="twemoji">{% include ".icons/octicons/calendar-24.svg" %}</span>
                {{ item.page.meta.date }}
            </span>
            <span>
                <span class="twemoji">{% include ".icons/octicons/clock-24.svg" %}</span>
                {{ words // words_per_minute }} minutes de lecture
            </span>
            {% if item.page.meta.debug %}
            <span>
                ({{ characters }} caractères)
            </span>
            {% endif %}
        </div>

        <div class="blog__item-excerpt">
            {{ item.page.meta.description }}
            <p class="blog__item-continue-reading">
                <a href="{{ item.page.url | url}}" class="">
                    <span class="twemoji">{% include ".icons/octicons/arrow-right-24.svg" %}</span>
                    Continuer à lire
                </a>
            </p>
        </div>
    </div>
    {% endfor %}
{% endblock %}