# Documentation static site generator & deployment tool
mkdocs>=1.6.1

# Add your custom theme if not inside a theme_dir
# (https://github.com/mkdocs/mkdocs/wiki/MkDocs-Themes)
mkdocs-material>=9.6.8

# Enable the use of macros and manipulate date into md files
# https://mkdocs-macros-plugin.readthedocs.io/en/latest/
mkdocs-macros-plugin

mkdocs-include-markdown-plugin

mkdocs-macros-plugin

mkdocs-rss-plugin
mkdocs-redirects

markdown-include

plantuml-markdown


