<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  {% if config.title %}<title>{{ config.title }}</title>{% endif %}
  {%- if config.description -%}
    <meta name="description" content="{{ config.description }}">
  {%- endif -%}
  {%- if config.author -%}
    <meta name="author" content="{{ config.author }}">
  {%- endif -%}
  <base href="{{ config.site_url | url }}">
  <link rel="canonical" href="{{ config.site_url | url }}">
  <link rel="shortcut icon" href="{{ config.theme.favicon | url }}">

  <link rel="stylesheet" href="{{ config.extra.reveal.path }}/reset.css">
  <link rel="stylesheet" href="{{ config.extra.reveal.path }}/reveal.css">
  <link rel="stylesheet"
        href="{{ config.extra.reveal.path }}/{{ config.extra.reveal.theme.path }}/{{ config.extra.reveal.theme.name }}"
        id="theme">
  <link rel="stylesheet" href="{{ base_url }}/css/reveal-theme-overrdes.css">
  <link rel="stylesheet" href="{{ base_url }}/css/reveal-additional.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <!-- Theme used for syntax highlighted code -->
  <link rel="stylesheet" href="{{ config.extra.reveal.plugin.path }}/highlight/monokai.css" id="highlight-theme">
</head>
<body>

<div class="reveal">
    {% if page.meta['back-url'] %}
    <a      id="back-button"
            href="{{ page.meta['back-url'] | url }}"
            title="{{ page.meta['back-label'] | default("Back button", true) }}">
        <span class="material-icons">chevron_left</span>
    </a>
    {% endif %}
  <div class="slides">
    <section data-markdown
             data-separator="^\n---\n$"
             data-separator-vertical="^\n--\n$"
             data-separator-notes="^Notes?\W?:"
            {% if page.meta['background-image'] %}
             data-background-image="{{ page.meta['background-image'] }}" {% endif %}
            {% if page.meta['background-position'] %}
             data-background-position="{{ page.meta['background-position'] }}" {% endif %}
            {% if page.meta['background-opacity'] %}
             data-background-opacity="{{ page.meta['background-opacity'] }}" {% endif %}
            {% if page.meta['background-size'] %} data-background-size="{{ page.meta['background-size'] }}" {% endif %}
            {% if page.meta['background-color'] %}
             data-background-color="{{ page.meta['background-color'] }}" {% endif %}
    >
      <script type="text/template">
        {{ page.markdown }}
      </script>
    </section>
  </div>
</div>

<footer>
  <div id="licence-cc">
    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
      <img alt="Licence Creative Commons"
           style="border-width:0"
           src="https://i.creativecommons.org/l/by/4.0/80x15.png"/></a>
    Ce(tte) œuvre est mise à disposition selon les termes de la <a rel="license"
                                                                   href="http://creativecommons.org/licenses/by/4.0/">Licence
    Creative Commons Attribution 4.0 International</a>.
  </div>
</footer>


<script src="{{ config.extra.reveal.path }}/reveal.js"></script>

<script src="{{ config.extra.reveal.plugin.path }}/markdown/markdown.js"></script>
<script src="{{ config.extra.reveal.plugin.path }}/highlight/highlight.js"></script>
<script src="{{ config.extra.reveal.plugin.path }}/zoom/zoom.js"></script>
<script src="{{ config.extra.reveal.plugin.path }}/notes/notes.js"></script>

<script>
  // Full list of configuration options available here:
  // https://github.com/hakimel/reveal.js#configuration
  Reveal.initialize({
    controls: true,
    progress: true,
    history: true,
    center: true,
    hash: true,

    transition: '{{ config.extra.reveal.transition }}', // default/cube/page/concave/zoom/linear/fade/none
    // Learn about plugins: https://revealjs.com/plugins/
    plugins: [ RevealMarkdown, RevealHighlight, RevealNotes ]
  });
</script>

</body>
</html>
